<!DOCTYPE html>
<html>
<head>
  <%-include('./partials/table-style.ejs')%>
  <%-include('./partials/navbar-style.ejs')%>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
  <div class = "top">
      <h2><%=name.toUpperCase().substr(0, name.length-1)%> DATA</h2>
      <a href="/<%=name%>/add" >add <%=name.substr(0, name.length-1)%></a>
  </div>
<%=msg%>
<table>
    <tr>
  <%column.forEach(key => { %>
    <th><%=key%></th>
  <%})%>
  </tr>
  
  <% data.forEach(subject => { %>
    <tr>
      <td><%=subject.id%></td>  
      <td><%=subject.subject_name%></td>
      <td>
        <% for(let i = 0; i < subject.dataValues.Teachers.length; i++) { %>
          <%= `${i+1}. ${getFullName(subject.dataValues.Teachers[i].first_name,subject.dataValues.Teachers[i].last_name)}`%>
          <br>
        <%}%>
      </td>
      <td><a href="/subjects/<%=subject.id%>/enrolled-students">Enrolled Students</a></td>
    </tr>
  <%})%>
</table>

</body>
</html>
